spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test?characterEncoding=utf8
    username: root
    password: root
    #初始化大小 最大和最小
    initialSize: 5
    minIdel: 5
    maxActive: 20
    #配置获取连接等待超时时间（单位毫秒）
    maxWait: 60000
    #配置多久检测一次空闲链接
    minEvicatableIdleTimeMillis: 30000
    validationQuery: select 1 from DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    #打开PSChace 指定每个连上PSChace 的大小
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    #配置监控拦截的filter 去掉后监控页面sql将无法记录 wall用于防火墙
    filters: stat,wall,log4j
    #通过connectionProperties 属性来打开mergerSql功能，慢sql记录
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
